*{
    box-sizing: border-box;
    font-family: 'Gideon Roman', cursive;
}


.conteneur{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bloc-p{
    padding: 20px;    
}
.bloc3{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bloc2{
    width: 33%;
}
.bloc1{
    width: 15%;
}
.width-select{
    padding: 10px;
}
option{
    background-color: rgb(41, 173, 96);
}
a{
    text-decoration: none;
    color: black;
}
.reserved{
    color: white;
    background-color: black;
    padding: 10px;
}
header{
    background-color: rgba(255, 255, 255, 0.959);
}

img{
    width: 100%;
}
.conteneur-img-acceuil{
    height: 100%
}
.nav-over:hover{
    background-color: black;
    color: white;
}
.h1-margin-bottom-top{
    margin-top: 50px;
    color: rgba(139, 201, 160, 0.877);
    margin-bottom: 30px;
}
.presentation{
    text-align: center;
    margin-left: 200x;
    border-bottom: solid rgb(64, 71, 69);
    
    
}
section{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.bloc-presentation{
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.button-margin-left{
    background-color:  rgba(139, 201, 160, 0.877);
    border: none;
    margin-top: 20px;
}
.bloc{
    width: 50%;
    text-align: center;
}
.reseaux{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 400px;
    margin-top: 20px;
    justify-content: space-around;
    padding: 20px;
}
.width-icon-reseaux{
    width: 30px;
}
footer{
    background-color: rgb(225 237 239);
}
.footer-btn{
    background-color:  rgba(139, 201, 160, 0.877);
    border: none;
}
.conteneur-footer{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
    padding: 5px;
}
.adresse, .liens-utiles{
    text-align: center;
}
.width-icon{
    width: 15px;
}
.copyright{
    text-align: center;
    margin: 0;
    font-weight: bold;
}
@media screen and (min-width: 375px) and (max-width: 950px){
  
    .bloc1{
        display: none;
    }
    .conteneur{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .bloc2{
        width: 100%;
        margin-bottom:  30px;
    }
    .contact{
        padding: 20px;
    }
    .dropdown{
        display: none;
    }
    *{
        padding: 0;
        margin: 0;
    }
    .presentation{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bloc-display{
        display: none;
    }
    .bloc{
        width: 100%;
        padding: 10px;
    }
    section{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .conteneur-footer{
        display: flex;
        flex-direction: column;

    }
    .newsletter{
        margin: auto;
    }
   
}
